<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657fd0">  <td>18/10/27 23:38:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRestApi.TestAddUserApi()[pri:0, instance:RestApiTests.TestRestApi@6fd02e5]">TestAddUserApi</td> 
  <td>main@120694604</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/10/27 23:38:18</td>   <td>1775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRestApi.TestCountApi()[pri:0, instance:RestApiTests.TestRestApi@6fd02e5]">TestCountApi</td> 
  <td>main@120694604</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/10/27 23:38:18</td>   <td>2603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRestApi.TestWelcomeRestAprl()[pri:0, instance:RestApiTests.TestRestApi@6fd02e5]">TestWelcomeRestAprl</td> 
  <td>main@120694604</td>   <td></td> </tr>
</table>
